<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="https://dumbways.id/assets/images/brandwhite.png">
    <title>Personal Web | Project Detail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg sticky-top bg-light">
        <div class="container">
            <a class="navbar-brand pe-2" href="/">
                <img src="/assets/images/logo.png" alt="logo" width="50px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-2">
                        <a class="nav-link active aria-current=" page" href="/">Home</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link active" aria-current="page" href="/add-project">Add Project</a>
                    </li>
                </ul>
                <a href="/contact" class="btn btn-dark py-1 px-3" type="submit">Contact Me</a>
            </div>
        </div>
    </nav>

    <div>
        <h2 class="mt-5 mb-4 text-center fw-bold">{{ title }}</h2>
        <div class="container d-flex flex-wrap my-5">
            <div class="me-md-5">
                <img src="/assets/images/gambar.png" alt="gambar project" width="100%">
            </div>
            <div class="mt-5 mt-xxl-0">
                <div class="mb-5">
                    <h4 class="mb-3">Duration</h4>
                    <div class="d-flex align-items-center">
                        <h4 class="me-3">
                            <i class="fa-solid fa-calendar-days"></i>
                        </h4>
                        <p class="mb-2">12 Jan 2011 - 11 Feb 2011</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <h4 class="me-3">
                            <i class="fa-solid fa-clock"></i>
                        </h4>
                        <p class="mb-2">1 month</p>
                    </div>
                </div>
                <div>
                    <h4 class="mb-3">Technologies</h4>
                    <div class="d-flex">
                        <div class="d-flex flex-column me-4 align-items-center">
                            <div class="d-flex me-3 align-items-center">
                                <h4 class="me-3">
                                    <i class="fa-brands fa-react"></i>
                                </h4>
                                <p class="mb-2">React Js</p>
                            </div>
                            <div class="d-flex me-3 align-items-center">
                                <h4 class="me-3">
                                    <i class="fa-brands fa-node-js"></i>
                                </h4>
                                <p class="mb-2">Node Js</p>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex me-3 align-items-center">
                                <h4 class="me-3">
                                    <i class="fa-brands fa-square-js"></i>
                                </h4>
                                <p class="mb-2">JavaScript</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-justify">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque sed in dolor velit repudiandae ratione,
                neque mollitia illo minima perspiciatis aspernatur, at odit, fugiat necessitatibus aperiam officiis
                harum optio iusto libero quam voluptate distinctio? Officia adipisci nesciunt labore laboriosam
                voluptatibus nam, eaque eligendi, repellendus ratione beatae ipsa at hic quis ab sit veniam iure
                doloremque necessitatibus nemo, voluptate nisi officiis. Atque, sint tempora. Laborum enim dolorem
                impedit odit dolor aut cumque cum rem nihil quod corporis qui, praesentium hic quibusdam, quia officia
                molestiae ducimus minima earum asperiores iure iste esse alias. Velit sed iste mollitia esse nisi magnam
                vero? Repellat?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis inventore amet obcaecati culpa, vero
                ab eaque voluptas, unde laudantium tenetur velit accusamus ea neque deleniti quam sunt ad fugiat
                blanditiis veritatis quasi a sed atque. Iste saepe placeat tempore veniam. Vitae placeat dicta odio
                explicabo nihil delectus ipsum consequatur numquam.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, alias! Veniam autem, exercitationem
                itaque aperiam eaque officiis porro vero iusto eum illum! Ex esse quia temporibus et explicabo. Ab
                quaerat illo porro, neque blanditiis quidem beatae eligendi excepturi cupiditate modi culpa sint, vel
                vitae! Eaque omnis, tempora iure, nisi quo magnam necessitatibus, aut porro voluptatem laborum neque
                accusantium? Adipisci odit maxime sapiente quod, consequatur magnam ea, amet nemo error distinctio
                eligendi necessitatibus voluptatibus molestias. Minima odit temporibus facilis id ratione distinctio
                necessitatibus praesentium adipisci repellendus culpa? Reiciendis adipisci ex maiores ipsa eveniet
                voluptatum suscipit, atque repellendus debitis eius architecto aliquam recusandae, temporibus
                necessitatibus voluptatem tempore, a explicabo veniam! Dignissimos hic, obcaecati ipsa consequuntur eos
                tenetur impedit quo veniam in aspernatur neque eligendi perferendis aliquam voluptas doloribus! Quia ea
                earum tempora, nulla aliquam nemo, eaque pariatur saepe ad quisquam quae suscipit. Molestias nemo
                reprehenderit in et doloribus vel amet natus ex ducimus delectus, sapiente velit, quidem deleniti sunt
                nesciunt aliquid sit dolores cum assumenda odit asperiores libero, iste veniam! Corporis ratione magnam
                libero velit! Minus aperiam nam assumenda. Harum quos praesentium optio illum omnis et, dicta laborum,
                itaque adipisci incidunt nobis beatae voluptate ad iure ipsam voluptatem reiciendis quis iste ea
                inventore temporibus officia laboriosam tempora aperiam. Ea, totam? Eum corrupti temporibus adipisci
                excepturi nulla incidunt?</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
</body>

</html>