body {
    background-color: rgb(220, 224, 228);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-weight: 800;
}

nav {
    background-color: rgb(244, 243, 243);
    display: flex;
    height: 9vh;
}

.nav-left {
    display: flex;
    padding-left: 5%;
    align-items: center;
    flex: 50%;
}

.nav-left li {
    display: inline;
}

.nav-left ul {
    display: flex;
}

.nav-left ul li a {
    color: rgb(17, 23, 39);
    text-decoration: none;
    padding: 8px 17px;
}

.nav-right {
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}

.nav-right a {
    background-color: rgb(17, 23, 39);
    color: rgb(244, 243, 243);
    padding: 4px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    background-color: white;
    color: rgb(17, 23, 39);
    box-shadow: 0px 0px 25px rgb(190, 190, 190);
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    display: flex;
    width: 80%;
}

.section-left {
    flex: 65%;
    padding: 40px 10px 0px 50px;
    text-align: justify;
}

.section-left div {
    margin-bottom: 40px;
}

.contact-cv button {
    background-color: rgb(17, 23, 39);
    color: rgb(244, 243, 243);
    padding: 6px 24px;
    border: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
}

.contact-cv button a {
    text-decoration: none;
    color: rgb(244, 243, 243);
}

.contact-cv a {
    text-decoration: none;
    color: rgb(17, 23, 39);
}

.logo-sosmed a {
    color: rgb(17, 23, 39);
    padding: 3px;
    font-size: 30px;
}

.section-right {
    display: flex;
    flex: 35%;
    padding: auto 50px auto 10px;
    justify-content: center;
    align-items: center;
}

.profile-card {
    background-color: white;
    color: rgb(17, 23, 39);
    box-shadow: 0px 0px 25px rgb(190, 190, 190);
    width: 80%;
    padding-bottom: 5px;
    border: none;
    border-radius: 7px;
    text-align: center;
}

.profile-card img {
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 5px;
}

.profile-card h2,
p {
    margin: 1px 0px;
}


.web-header {
    color: rgb(17, 23, 39);
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 20px;
}

form {
    margin: 0px auto;
    width: 600px;
}

form div {
    margin-bottom: 35px;
}

form label {
    color: rgb(17, 23, 39);
    font-weight: 500;
    font-size: 24px;
}

form input,
select,
textarea {
    background-color: white;
    border: none;
    border-radius: 7px;
    width: 100%;
    padding: 20px;
    margin-top: 5px;
    box-shadow: 0px 7px 25px rgb(190, 190, 190)
}

form .button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

form button {
    background-color: rgb(17, 23, 39);
    color: rgb(244, 243, 243);
    padding: 6px 27px;
    border: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.project-date {
    display: flex;
    justify-content: space-between;
}

.project-date div {
    width: 49%;
    margin-bottom: 0px;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.project-tech div {
    width: 50%;
    margin: 25px 0px 0px 0px;
}


.project-tech input{
    width: auto;
    transform: scale(2);
    margin-right: 20px;
}

.contents{
    background-color: white;
    color: rgb(17, 23, 39);
}

.projects {
    display: flex;
    margin: 0px 5%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-card {
    background-color: white;
    color: rgb(17, 23, 39);
    box-shadow: 0px 0px 25px rgb(190, 190, 190);
    border: none;
    border-radius: 7px;
    width: 27%;
    padding: 1.5%;
    margin: 2% 0px;
}

.content-image img {
    width: 100%;
    border-radius: 7px;
    margin-bottom: 10px;
}

.content-title {
    margin: 0px;
    font-size: 20px;
}

.content-date {
    margin: 0px;
    color: gray;
    font-size: 14px;
}

.content-text {
    margin: 20px 0px;
    text-align: justify;
    font-size: 20px;
}

.content-tech {
    font-size: 25px;
    color: rgb(17, 23, 39);
}

.content-button {
    display: flex;
    justify-content: space-between;
}

.content-button button {
    background-color: rgb(17, 23, 39);
    color: rgb(244, 243, 243);
    padding: 1px 24px;
    border: none;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0px;
    width: 49%;
}

.detail-project {
    color: rgb(17, 23, 39);
    display: flex;
    margin: 0px 5%;
    align-content: center;
}

.detail-project h2 {
    font-weight: 500;
    margin: 10px 0px 0px 0px;
}

.detail-project p {
    color: gray;
    margin-right: 20px;
    font-size: 20px;
}

.detail-project i {
    margin-right: 15px;
    font-size: 28px;
}

.detail-duration {
    display: flex;
    margin: 20px 0px;
}

.detail-tech {
    display: flex;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.detail-tech div {
    display: flex;
    margin: 0px 30px 20px 0px;
}

.detail-image img {
    width: 90%;
}

.detail-teks {
    margin: 40px 5%;
    text-align: justify;
    color: rgb(17, 23, 39);
}