body {
    background-color: slateblue;
}

form {
    margin: auto;
    padding: 3%;
    width: 45%;
    background-color: salmon;
}

form div {
    margin-bottom: 6%;
}

form label {
    font-weight: bold;
    font-size: 18px;
}

form input, select, textarea {
    width: 100%;
    padding: 3%;
    margin-top: 2%;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
}

form button{
    background-color:blueviolet;
    width: 35%;
    color: white;
    padding: 3%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}