body {
    background-color: rgb(220,224,228);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(244,243,243);
    display: flex;
    height: 9vh;
}

.nav-left {
    display: flex;
    padding-left: 120px;
    align-items: center;
    flex: 50%;
}

.nav-left li {
    display: inline;
}

.nav-left ul {
    display: flex;
}

.nav-left ul li a {
    color: rgb(17,23,39);
    text-decoration: none;
    padding: 8px 17px;
}

.nav-right {
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content:flex-end;
    padding-right: 120px;
}

.nav-right a {
    background-color: rgb(17,23,39);
    color:rgb(244,243,243);
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

.container {
    background-color: aqua;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    background-color: violet;
    display: flex;
    width: 80%;
}

.section-left {
    flex: 30%;
}

.section-right {
    background-color: red;
    flex: 70%;
    padding: 1%;
}

.contact-header {
    color: rgb(17,23,39);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bolder;
}

form {
    margin: 0px auto;
    width: 600px;
}

form div {
    margin-bottom: 33px;
}

form label {
    color: rgb(17,23,39);
    font-weight: bold;
    font-size: 24px;
}

form input, select, textarea {
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 15px rgb(190, 190, 190)
}

form .button {
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

form .button a {
    background-color: rgb(17,23,39);
    color:rgb(244,243,243);
    padding: 7px 24px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
}